body {
 
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}



.burger {
  height: 45px;
  width: 45px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}


.burger:before,
.burger:after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  background: #1a1a1a;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-4px);
}

.burger:after {
  transform: translateY(4px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}


.link {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 900;
  transition: 0.5s;
  position: absolute;
  /* color: aqua;  */

}

.link:hover{
  -webkit-text-stroke: 1px rgb(221, 147, 11);
  text-shadow: 1px 1px 1px rgb(221, 147, 11), 0 0 20px rgb(221, 147, 11), 0 0 3px rgb(221, 147, 11);
  transform: translateX(7%);
  color: black;
  cursor: pointer;
}
.link:active {
  color: white;
  cursor: pointer;
}
